body {
  background-image: url("../images/qbkls/qbkls.png");
  margin: 0; /* this got rid of the space around the nav bar!*/
  font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
}

header {
  background-color: #4aaaa5;
  color: #ffffff;
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 230px;
  padding: 20px;
  font-size: 20px;
  font-family: "Georgia", "Times", "Times New Roman", "serif";
}

nav {
  float: right;
  margin-top: 30px;
  margin-right: 230px;
  color: #777777;
}

main {
  width: 960px;
  margin-left: 230px;
  margin-right: 230px;
  margin-top: 100px;
  margin-bottom: 40px;
  background-color: #ffffff;
  padding: 20px;
  border-color: #dddddd;
  border-style: solid;
  border-width: 1px;
  color: #777777;
}

h1 {
  color: #4aaaa5;
  font-family: "Georgia", Times, Times New Roman, serif;
  width: 960px;
  margin-top: 5px;
  border-bottom-color: #dddddd;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  padding-bottom: 15px;
}

h2 {
  color: #777777;
  font-size: 15px;
  font-style: normal;
}

p {
  line-height: 1.5;
  text-align: justify;
}

input {
  width: 95%;
  color: #777777;
  padding: 5px;
  border-color: #dddddd;
  border-width: 0.5px;
  border-style: solid;
}

textarea {
  width: 95%;
  color: #777777;
  padding: 5px;
  border-color: #dddddd;
  border-width: 0.5px;
}

a,
a:visited,
a:active {
  color: #777777;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

a:hover {
  color: #4aaaa5;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

figcaption {
  margin-top: 100px;
  text-align: center;
  padding: 12px;
  background-color: #4aaaa5;
  color: #ffffff;
  font-family: "Georgia", Times, Times New Roman, serif;
}

footer {
  background-color: #666666;
  color: #ffffff;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 12px;
  border-top-color: #4aaaa5;
  border-top-width: 7.5px;
  border-top-style: solid;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* CLASSES */

.nav-bar {
  height: 60px;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
  margin-bottom: 60px;
  background-color: #ffffff;
  font-size: 12px;
  position: fixed;
  top: 0;
}

.img_left {
  float: left;
  width: 275px;
  height: 150px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 0;
}

.img_right {
  float: right;
  width: 275px;
  height: 150px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 330px;
  margin-left: 0;
}

.portfolio-a {
  padding: 0;
  margin: 0;
}

.main-port {
  height: 650px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.aboutme {
  margin-bottom: 100px;
}

.summary {
  height: 350px;
  margin-bottom: 60px;
  font-size: 16px;
  padding: 20px;
}

body {
  background-image: url("../images/qbkls/qbkls.png");
  margin: 0; /* this got rid of the space around the nav bar!*/
  font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
}

header {
  background-color: #4aaaa5;
  color: #ffffff;
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 230px;
  padding: 20px;
  font-size: 20px;
  font-family: "Georgia", "Times", "Times New Roman", "serif";
}

nav {
  float: right;
  margin-top: 30px;
  margin-right: 230px;
  color: #777777;
}

main {
  width: 960px;
  margin-left: 230px;
  margin-right: 230px;
  margin-top: 100px;
  margin-bottom: 40px;
  background-color: #ffffff;
  padding: 20px;
  border-color: #dddddd;
  border-style: solid;
  border-width: 1px;
  color: #777777;
}

h1 {
  color: #4aaaa5;
  font-family: "Georgia", Times, Times New Roman, serif;
  width: 960px;
  margin-top: 5px;
  border-bottom-color: #dddddd;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  padding-bottom: 15px;
}

h2 {
  color: #777777;
  font-size: 15px;
  font-style: normal;
}

p {
  line-height: 1.5;
  text-align: justify;
}

input {
  width: 95%;
  color: #777777;
  padding: 5px;
  border-color: #dddddd;
  border-width: 0.5px;
  border-style: solid;
}

textarea {
  width: 95%;
  color: #777777;
  padding: 5px;
  height: 160px;
  border-color: #dddddd;
  border-width: 0.5px;
}

a,
a:visited,
a:active {
  color: #777777;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

a:hover {
  color: #4aaaa5;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

figcaption {
  margin-top: 100px;
  text-align: center;
  padding: 12px;
  background-color: #4aaaa5;
  color: #ffffff;
  font-family: "Georgia", Times, Times New Roman, serif;
}

footer {
  background-color: #666666;
  color: #ffffff;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 12px;
  border-top-color: #4aaaa5;
  border-top-width: 7.5px;
  border-top-style: solid;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* CLASSES */

.nav-bar {
  height: 60px;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
  margin-bottom: 60px;
  background-color: #ffffff;
  font-size: 12px;
  position: fixed;
  top: 0;
}

.img_left {
  float: left;
  width: 275px;
  height: 150px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 0;
}

.img_right {
  float: right;
  width: 275px;
  height: 150px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 330px;
  margin-left: 0;
}

.portfolio-a {
  padding: 0;
  margin: 0;
}

.main-port {
  height: 650px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.aboutme {
  margin-bottom: 100px;
}

.summary {
  height: 350px;
  margin-bottom: 60px;
  font-size: 16px;
  padding: 20px;
}

.active:hover {
  color: #666666;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}
/* IDS */

/* #contactfm {

  } */

#comment {
  height: 120px;
  display: inline-block;
  width: 95%;
}

#submitbit {
  margin-top: 10px;
  background-color: #4aaaa5;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 12px;
}

#climb {
  width: 275px;
  height: 275px;
  float: left;
  padding: 0px 15px;
}
